{% extends 'base.html' %} 

{% block content %}

<main class="container">
  <div class="row">
    <section class="col-md-4 offset-md-4 mt-5">
      <form class="card card-body" action="/signin/" method="POST">
        <h3>Ingresar</h3>
        {% csrf_token %} 
        {{error}}

        <div class="mb-3">
          <label for="username">Usuario:</label>
          <input
            type="text"
            name="username"
            class="form-control"
            placeholder="Escriba su usuario"
            id="username"
          />
        </div>

        <div class="mb-3">
          <label for="password">Contraseña:</label>
          <input
            type="password"
            name="password"
            class="form-control"
            placeholder="Escriba su contreseña"
            id="password"
          />
        </div>

        <button class="btn btn-primary btn-sm">Registrese</button>
      </form>
    </section>
  </div>
</main>

{% endblock %}
